rummy.cabal
stack.yaml.lock
.stack-work/stack.sqlite3
.stack-work/stack.sqlite3.pantry-write-lock
.stack-work/dist/29cc6475/build-lock
.stack-work/dist/29cc6475/setup-config
.stack-work/dist/29cc6475/stack-cabal-mod
.stack-work/dist/29cc6475/build/autogen/cabal_macros.h
.stack-work/dist/29cc6475/build/autogen/Paths_rummy.hs
.stack-work/dist/29cc6475/build/staticgame/autogen/cabal_macros.h
.stack-work/dist/29cc6475/build/staticgame/autogen/Paths_rummy.hs
.stack-work/ghci/3b974961/cabal_macros.h
.stack-work/install/39013f4b/pkgdb/package.cache
.stack-work/install/39013f4b/pkgdb/package.cache.lock
.stack-work/dist/29cc6475/build/Cards.hi
.stack-work/dist/29cc6475/build/Cards.o
.stack-work/dist/29cc6475/build/Deck.hi
.stack-work/dist/29cc6475/build/Deck.o
.stack-work/dist/29cc6475/build/EitherIO.hi
.stack-work/dist/29cc6475/build/EitherIO.o
.stack-work/dist/29cc6475/build/HSrummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.o
.stack-work/dist/29cc6475/build/libHSrummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.a
.stack-work/dist/29cc6475/build/Paths_rummy.hi
.stack-work/dist/29cc6475/build/Paths_rummy.o
.stack-work/dist/29cc6475/build/Parser/Instances.hi
.stack-work/dist/29cc6475/build/Parser/Instances.o
.stack-work/dist/29cc6475/build/Parser/Parser.hi
.stack-work/dist/29cc6475/build/Parser/Parser.o
.stack-work/dist/29cc6475/build/Rummy/Play.hi
.stack-work/dist/29cc6475/build/Rummy/Play.o
.stack-work/dist/29cc6475/build/Rummy/Rules.hi
.stack-work/dist/29cc6475/build/Rummy/Rules.o
.stack-work/dist/29cc6475/build/Rummy/Types.hi
.stack-work/dist/29cc6475/build/Rummy/Types.o
.stack-work/dist/29cc6475/build/staticgame/staticgame.exe
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Main.hi
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Main.o
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Paths_rummy.hi
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Paths_rummy.o
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Player.hi
.stack-work/dist/29cc6475/build/staticgame/staticgame-tmp/Player.o
.stack-work/dist/29cc6475/package.conf.inplace/package.cache
.stack-work/dist/29cc6475/package.conf.inplace/package.cache.lock
.stack-work/dist/29cc6475/package.conf.inplace/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.conf
.stack-work/dist/29cc6475/stack-build-caches/1e34e25b8bb0ffb89e0e1303738161e4f2ce45e8de5433a645075823ece5d725/exe-staticgame
.stack-work/dist/29cc6475/stack-build-caches/1e34e25b8bb0ffb89e0e1303738161e4f2ce45e8de5433a645075823ece5d725/lib
.stack-work/install/39013f4b/bin/staticgame.exe
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Cards.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Deck.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/EitherIO.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/HSrummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.o
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/libHSrummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.a
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Paths_rummy.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Parser/Instances.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Parser/Parser.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Rummy/Play.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Rummy/Rules.hi
.stack-work/install/39013f4b/lib/x86_64-windows-ghc-8.8.2/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v/Rummy/Types.hi
.stack-work/install/39013f4b/pkgdb/rummy-0.1.0.0-1pFtqJ27uFSHcahoiT5L6v.conf
